/*
Colors:

Text: #1A1A1A
Green: #00B172
White: #FFF

*/
:root {
    --text: #1a1a1a;
    --verd: #00B172;
    --blanc: #ffffff;
}

body {
    margin: 0px;
}

.cont-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.logoS {
    max-width: 200px;
}

.enllaç {
    text-decoration: none;
    color: var(--text);
    padding: 5px;
}
.cont-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/landing.jpg');
    height: 80vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    
}

.title-1{
    color: var(--blanc);
    text-align: center;
    
}
.box-1{
    color: var(--blanc);
    text-align: center;
}
.box-2{
    color: var(--blanc);
    text-align: center;
}

.cont-3{
    display: flex;
    justify-content: center;
}
.box-3{
    display: inline-block;
    font-weight: bold;
    border-bottom: 2px solid  var(--verd);
}
.dibuix{
    max-width: 100px;

}
.nom{
    color: var(--verd);
    text-align: center;
}
.text{
    text-align: center;
}
.cont-4 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.cont-5{
    background-color: var(--verd);
    color: var(--blanc);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.logoB{
    max-width: 100px;
}
.app{
    max-width: 200px;
}
.title-2{
    text-decoration: underline;
}
