.text{
    font-weight: bold;
    font-style: italic;
}
.vermell{
    background-color: red;
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.verd{
    background-color: greenyellow;
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.blau{
    background-color: blue;
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
#simbol{
    display: inline-block;
    position: relative;
    top: -30px;
}
.lila{
    background-color: #FF00FF;
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.cian{
    background-color: #00FFFF;
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.groc{
    background-color: #FFFF00;
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}