// Sistema de notes, al inici de cada bloc tindrem un comentari
// que ens dirà quin component tracta cada bloc,
//! Els comentaris amb aquest color son blocs principals
//* Els comentaris amb aquest color son blocs secundaris

// LG large width < 1100px
body {
  margin: 10px 0px;
}

//! Barra benvinguda 
header {
  display: grid;
  height: 100px;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 50px 50px;
}

//*Barra de cerca
#logo {
  width: 50px;
  padding-right: 20px;
}

.header-1 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.cont-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.boxh {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.boxh-1 {
  border: 1px lightgray solid;
  width: 600px;
}

.boxh-2>div {
  padding-right: 10px;
  padding-left: 10px;
}

//* barra navegador
.header-2 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.cont-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.conth-2>img {
  width: 30px;
  height: 30px;
}

nav>article,
img {
  color: grey;

  &:hover {
    color: black;
    background-color: lightgray;
  }
}

//! Bloc principal
main {
  display: grid;
  grid-template-columns: 1fr 4fr 25px 2fr 1fr;
  grid-template-rows: 25px 50px 25px 2fr 25px 4fr 25px 4fr 25px 4fr 25px;
  background-color: rgb(236, 236, 236);
}

//! Barra lateral
.welcome {
  grid-column: 2 / 5;
  grid-row: 2 / 3;
}

.welcome-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

#close {
  width: 15px;
}

.welcome-2 {
  font-weight: bold;
}

.welcome-3 {
  color: gray;
}

.welcome-4 {
  color: gray;
  width: 150px;
  border: 1px gray solid;
}

.welcome-5 {
  color: white;
  background-color: rgb(218, 85, 47);
  border-radius: 5px 5px;
}

//* Barra lateral Kitty
.kitty-1 {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
  background-color: white;
  padding: 10px;
}

.kitty-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.kitty-3 {
  color: gray;
  font-size: small;
  padding: 10px;
}

.kitty-4 {
  color: white;
  background-color: rgb(218, 85, 47);
  border-radius: 5px 5px;
  text-align: center;
  border: 1px solid transparent;
}

.kitty-4:hover{
  background-color: white;
  color:  rgb(218, 85, 47);
  border: 1px solid rgb(218, 85, 47);
  border-radius: 5px;
}

//* Barra lateral live chat
.live-chat {
  grid-column: 4 / 5;
  grid-row: 6 / 9;
  background-color: white;
}

.live-title {
  text-align: center;
  margin: 15px;
}

.separator {
  border-bottom: 1px solid lightgray;
  width: 80%;
  margin: 10px auto;
}

#photo {
  border-radius: 50%;
  width: 50px;
  float: left;
  padding-right: 10px;
}

.live-box{
  margin: 5px;
}

.live-name{
  font-weight: bold;
}

.lve-job{
  color: grey;
}

#remind{
  border: 1px solid gray;
  padding: 5px 10px;
  background-color: white;
  color: black;
  font-size: x-small;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-align: center;
}

#remind:hover{
  background-color: gray;
  color: white;
}

.live-container{
  text-align: center;
}

.live-more{
  background-color: white;
  font-weight: bold;
  color: rgb(218, 85, 47);
  text-align: center;
  padding: 5px 10px;
  border: 2px solid transparent;
  border-radius: 5px;
}

.live-more:hover{
  border: 2px solid rgb(218, 85, 47);
  background-color: white;
  border-radius: 5px;
}

//* Barra tweets

@media (892px < width < 1099px) {}

@media (601px < width < 891px) {}

@media (width <=600px) {}