// LG large width < 1100px
body {
  margin: 0px;
  // display: grid;
  height: 100vh;
  // grid-template-columns: 20vw 50vw 10vw 20vw;
  // grid-template-rows: 100px 25px 50px 25px 2fr 15px 3fr 15px 3fr 15px 3fr 15px;
}

header{
  display: grid;
  height: 100px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 50px 50px;
}

#logo{
  width: 40px;
}

.conth{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.conth-1{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.boxh{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.boxh-1 {
  border: 1px lightgray solid;
}

@media (892px < width < 1099px) {
  
}

@media (601px < width < 891px) {
  
}

@media (width <=600px) {

}
