@media (min-width: 150px) {
    body{
            background-color: red;
    }
}
@media (min-width:300px){
    body{
        background-color: orange;
    }
}
@media (min-width: 450px){
    body{
        background-color: green;
    }
}