body {
    display: flex;
    justify-content: center;
    background-color: hsl(222, 26%, 31%);
    margin: 0px;
}
.calculadora{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 4fr;
    width: 500px;
    height: 600px;
}

.header{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.slider {
    position: relative;
    width: 300px; /* Ancho de la barra */
    height: 10px; /* Alto de la barra */
    background-color: #ccc; /* Color de la barra */
    border-radius: 5px; /* Esquinas redondeadas */
    margin: 20px;
}

.ball {
    position: absolute;
    width: 20px; /* Ancho de la bola */
    height: 20px; /* Alto de la bola */
    background-color: #007bff; /* Color de la bola */
    border-radius: 50%; /* Es un círculo */
    transition: left 0.2s ease; /* Transición suave al mover la bola */
}

/* Posiciones para los valores 0, 1 y 2 */
.position-0 {
    left: 0; /* Posición 0 */
}

.position-1 {
    left: 50%; /* Posición 1 (centro) */
    transform: translateX(-50%); /* Centrar la bola */
}

.position-2 {
    right: 0; /* Posición 2 */
}


.pantalla{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.teclat{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}